body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 50-x; 
}

.header-image {
    width: 10;
    height: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #D9D9D9;
    font-size: 15px;
    line-height: 23px;
    gap: 40px;
    position: top center;
    margin-bottom: 5vh;
    padding-bottom: 2vh;
}

header a {
    color: #475658;
}

a {
    text-decoration: none;
}

.main-block {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #D44B4B;
    
    background-image: url(../images/main-pic.png);
    width: 100vw;
    height: 45vh;
    background-repeat: no-repeat;
    background-position: right 200px bottom -46px;
    background-size: contain;
    padding-right: 20px;
    box-sizing: border-box;
}

.content-cover {
    padding: 2% 14% 5% 14%;
    width: 35vw;
}


.text {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
}
