body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 50px; 
    height: 100vh;
    overflow-y: scroll;
}

html {
    scroll-behavior: smooth;
}

.header-image {
    width: 10;
    height: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #D9D9D9;
    font-size: 15px;
    line-height: 23px;
    gap: 40px;
    position: top center;
    margin-bottom: 5vh;
    padding-bottom: 2vh;
}

header a {
    color: #475658;
    width: 16%;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: #fff;

    text-align: center;
}

a {
    text-decoration: none;
    transition: all .3s ease;
}

a:hover {
    color: #fff;
    border-radius: 30px;
    background-color: #9fa2a3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.main-block {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #D44B4B;

    background-image: url(../images/main-pic.png);
    width: 100vw;
    min-height: 45vh;
    background-repeat: no-repeat;
    background-position: right 200px bottom -46px;
    background-size: contain;
    padding-right: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.content-cover {
    padding: 2% 14% 5% 14%;
    width: 35vw;
}

.main-text {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.4;
    text-align: left;
    font-family: 'Impact', sans-serif;
}

.button {
    width: 80%;
    border-radius: 5px;
    padding: 10px 60px;
    background-color: #fff;
    color: #475658;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    transition: 0.3s;
}

section {
    padding: 2% 14% 2% 14%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    color: #fff;
    min-height: 450px;
    scroll-margin-top: 80px ;
    margin-bottom: 15px;
}

section h2 {
    z-index: 2;
    font-family: 'Impact', sans-serif;
    font-size: 27px;
    font-weight: normal;
    line-height: 1.3;
    padding: 0;
    text-align: left;
    padding-bottom: 5px;
    width: 60vw;
}
section p {
    font-size: 18px;
    margin-bottom: 30px;
    font-style: italic;
    z-index: 2;
}

.background {
    position: relative;
    background-image: url(../images/d.jpeg);
    background-position: center;
    background-size: cover;
    height: auto;
    width: 100%;
    overflow: visible;
}
.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 20%, rgba(125, 122, 122, 0.844) 100%);
    z-index: 1;
}

.sell-steps {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sell-step {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.sell-icon {
    width: 50px;
    height: 50px;
    background-color: #fff;
    color: #03073C;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.sell-text {
    z-index: 2;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.buy-section {
    background: linear-gradient(135deg, #D44B4B 30%, #f7793a 100%);
    color: #fff;
    padding: 50px 14%;
    text-align: right;
    margin-bottom: 40px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.buy-intro {
    font-size: 18px;
    margin-bottom: 30px;
    font-style: italic;
}

.buy-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.buy-step {
    background: rgba(255, 255, 255, 0.15);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    transition: transform 0.3s ease;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.buy-step:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.3);
}

.buy-icon {
    background: #fff;
    color: #D44B4B;
    font-size: 30px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;
}

                
.stories-section {
    text-align: center;
    padding: 50px 14%;
    background: linear-gradient(135deg, #fff, #9e9d9d);
    color: #03073C;
}

.slider {
    position: relative;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.story {
    min-width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background: white;
    text-align: center;
    animation: fadeIn 1s;
}

.story img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 15px;
    margin-bottom: 15px;
    transition: transform 0.3s;
}

.story img:hover {
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15px;
}

.slider-controls button {
    background: #03073C;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50%;
}

.slider-controls button:hover {
    background: #1a237e;
    
}


.info-cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7% 14% 4% 14%;
}

.title {
    color: #03073C;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.3;
    padding: 0;
    text-align: center;
    padding-bottom: 4vh;
    width: 60vw;
    font-family: 'Impact', sans-serif;
}                                
                                                        
.info-text {
    justify-content: flex-start;
    align-items: flex-start;
    max-height: none;

    color: #03073C;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    padding: 0;
    text-align: center;

    box-sizing: border-box;
}

.card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
}

.card-grid {
    padding: 0% 14% 4% 14%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.card h3 {
    font-size: 53px;
    color: #03073C;
    text-align: center;
    border-bottom: 1px solid #475658;
    padding-bottom: 15px;
}

.card a {
    color: #03073C;
}
.card a:hover {
    color: #fff;
    transition: all .3s ease;
}

.card p {
    font-size: 14px;
    padding-top: 0;
    line-height: 1.5;
    margin-top: -30px;
    padding-bottom: 30px;
}

.card-image-1 {
    background-image: url(../images/IMG_7068.PNG);
}

.card-image-2 {
    background-image: url(../images/pic-2.png);
}

.card-image-3 {
    background-image: url(../images/pic-3.png);
}

.card-image {
    width: 15vw;
    height: 18vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.border {
    padding: 0 14% 5% 14%;
}

footer {
    padding: 2% 14%;
    display: flex;
    width: 100%;
    color: #fff;
    font-size: 13px;
    background-color: #475658;
    gap: 70px;

    background: linear-gradient(45deg, #7a8283, #262626);
    color: white;
    text-align: center;
}

.footer_element {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer img {
    width: 24px;
    height: 24px;
}
